[submodule "userservice"]
	path = userservice
	url = https://github.com/Picktartup/PicktartUp-userservice.git
[submodule "startup"]
	path = startup
	url = https://github.com/Picktartup/picktartup-startupservice.git
[submodule "walletservice"]
	path = walletservice
	url = https://github.com/Picktartup/Pickstartup-wallet.git
[submodule "coinservice"]
	path = coinservice
	url = https://github.com/Picktartup/Picktartup-coinservice.git
